<h1> Listing Restaurants </h1>
<table border = 1> 
  <tr>
    <th>Name</th>
    <th> Address  </th>
    <th> Phone Numbers </th>
    <th>Timings</th>
    <th>Ratings</th>
  </tr>
<% @dish_restaurant_join.each do |res| %>
	<tr>
		<td> <%= res.rest_name %> </td>		
		<td> <%= res.address %> </td>
		<td> <%= res.phone_number %> </td>
		<td> <%= res.timings %> </td>
		<td> <%= res.avg_rating %> </td> 
	</tr>
	
<% end %>
<%# link_to 'Search',action:'dish/find',method: :get %> 
</table>
<%= link_to "Search" , action:'find',method: :get %> 